<!-- Eemil Hartikainen 1800699 -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My hobbies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gaming</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      When I have enough free time on my hands, I like to play videogames. I
      play alot differend kind videogames with alone or with friends.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gym</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      I try to play sports whenever I can. However, I usually go to the gym. I
      like to go to the gym because you can relieve the pressure there.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Drawing</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Sometimes I like to draw. I usually draw on paper with a pen. However, I
      can also draw on a computer. I should draw more often so that I can evolve
      in it.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Traveling</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      I love to travel. I try to travel as much I can. I travel 2-3 times in
      year. The longest wherever I have traveled is California, USA.
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-title>© 2020 Eemil Hartikainen</ion-title>
  </ion-toolbar>
</ion-footer>
