<!-- Eemil Hartikainen 1800699 -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="introduction">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Introduction</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hobbies">
      <ion-icon name="rocket-outline"></ion-icon>
      <ion-label>My hobbies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="goals">
      <ion-icon name="heart-circle-outline"></ion-icon>
      <ion-label>My goals</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
