<!-- Eemil Hartikainen 1800699 -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My work experience</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle
        >Warehouse worker 01/06/2017 - current</ion-card-subtitle
      >
      <ion-card-title>Varuste.net</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tasks include collecting orders, packing orders, shelving orders and
      receiving goods from suppliers.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle
        >Warehouse worker 01/01/2017 - 30/05/2017</ion-card-subtitle
      >
      <ion-card-title>Idealogistics</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tasks include collecting orders, packing orders, shelving orders and
      receiving goods from suppliers
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Summer job 01/06/2013 - 31/07/2015</ion-card-subtitle>
      <ion-card-title>Pähkinähoito Oy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      I did this summer job every summer for 3 years. Tasks include mowing the
      lawn, caring for the property and cleaning the property.
    </ion-card-content>
  </ion-card>
  <ion-footer class="footer">
    <ion-toolbar class="ion-text-center">
      <ion-title>© 2020 Eemil Hartikainen</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
