<!-- Eemil Hartikainen 1800699 -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My goals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <ion-card-header>
      <ion-card-title>What are my goals?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>To finish my studies</ion-label>
          <ion-icon name="book-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>To find dream workplace</ion-label>
          <ion-icon name="hammer-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>To gain more experience</ion-label>
          <ion-icon name="barbell-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>To become expert in my job</ion-label>
          <ion-icon name="star-outline" slot="start"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-title>© 2020 Eemil Hartikainen</ion-title>
  </ion-toolbar>
</ion-footer>
