<!-- Eemil Hartikainen 1800699 -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Introduction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <img src="/assets/oma.jpg" />
    <ion-card-header>
      <ion-card-title> Who am I?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      I Eemil, 23-year-old BIT Students from Espoo. I started my current
      bachelor’s degree in January 2018 at Laurea University of Applied
      Sciences. I have always been interested in different types of information
      technology, which is why the choice of field never caused me any
      difficulties. I would like to find jobs in my field in the future. I
      completed military service in the Vekaranjärvi garrison in 2016. I like to
      travel and would like to do it whenever possible. I am by nature a relaxed
      sense of humor, calm and dedicate long nerves. At work I come very story
      with other people, I am hard working and I quickly learn new things. I
      have also worked as a tutor at Laurea. I own a B driver's
      license.</ion-card-content
    >
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-title>© 2020 Eemil Hartikainen</ion-title>
  </ion-toolbar>
</ion-footer>
